@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
}

footer {
  max-width: 85%;
  padding: 0 var(--spacing-3);
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #323232;
}

h2 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0 var(--spacing-3);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-self: center;
  height: 150px;
  width: 100%;
  align-items: center;
  padding: var(--spacing-3) 18px;
  background-color: rgb(35, 204, 255);
  border-bottom: solid rgb(103, 250, 103);
}

main {
  max-width: 75%;
  padding: 0 var(--spacing-3);
  margin: 20px auto;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: var(--spacing-1);
}

.about-me-container {
  display: flex;
}

.about-me-text-container {
  margin-right: var(--spacing-3);
  padding-right: 5%;
}

#about-me-image {
  border: solid black;
  border-radius: 5px;
  width: auto;
  max-height: 180px;
  margin-top: 50px;
  align-content: center;
}

#projects {
  width: 50%;
  float: left;
}

.project-image {
  width: 50%;
  margin-top: 15px;
}

.project-title h3 {
  display: inline;
}

.project-description {
  text-decoration: underline;
  text-align: right;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

details {
  cursor: pointer;
}

summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

footer {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
}

section {
  padding: var(--spacing-3) 0;
}


a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

#logo {
  margin: 0;
}

#projects-contacts {
  display: flex;
}

#skills-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#skills-container > * {
  font-size: 2em;
  width: 2em;
  margin-top: var(--spacing-1);
}

.skill-logos {
  margin: auto 30px;
  align-content: center;
}

#contact {
float: left;
text-align: left;
}

#projects {
  float: right;
  text-align: right;
}

#contact-info-container {
  display: flex;
}

#gmail-icon {
  padding-top: 5px;
  max-width: 50px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
}